.dockerignore
venv/
**/.DS_Store
._*
parser/input/
**/__pycache__
__pycache__/
# uv
.venv/
# uv.lock
.python-version

# environment variables
envs/*.env
!envs/.env.template
.env
.env.*
!.env.template

# Coverage
htmlcov/
.coverage
coverage.xml
.pytest_cache/
