
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
      tags:
        - "fr0gger03/parser-frontend"
    ports:
      - 80:${VAR_FLASK_PORT}
    environment:
      - FLASK_RUN_PORT=${VAR_FLASK_PORT}
      - SECRET_KEY=${VAR_SECRET_KEY}
      - DATABASE_URL=${VAR_DATABASE_URL}
      - MAX_CONTENT_LENGTH=${VAR_MAX_CONTENT_LENGTH}  # 10GB for large file testing
      - UPLOAD_FOLDER=parser/input/
    depends_on:
      db:
        condition: service_healthy
    develop:
      watch:
        - action: sync+restart
          path: ./parser
          target: /app
        - action: sync
          path: ./parser/static
          target: /app/static
        - action: sync
          path: ./parser/templates
          target: /app/templates
        - action: rebuild
          path: ./pyproject.toml
        - action: rebuild
          path: ./uv.lock
  db:
    image: postgres:17.4
    ports:
      - 5432:${VAR_DATABASE_PORT}
    volumes:
      - ./parser/sql:/docker-entrypoint-initdb.d
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${VAR_POSTGRES_USER}
      POSTGRES_PASSWORD: ${VAR_POSTGRES_PASSWORD}
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "inventorydbuser", "-d", "inventorydb"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8081:${VAR_ADMINER_PORT}

volumes:
  db-data:

