{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Registration page{% endblock title %}</h2>
  <h4>You will be assimilated.</h4>
{% endblock header %}

{% block content %}
<form method="POST" action="">
  {{ form.hidden_tag() }}
  {{ form.username }}
  {{ form.password }}
  {{ form.submit }}
  <br>
  {% for error in form.username.errors %}
  <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
</form>
<br>
<br><a href="{{ url_for('pages.login') }}">Already have an account? Log In</a>

{% endblock content %}